# App configuration
FLASK_APP=app
FLASK_ENV=development
SECRET_KEY=your_secret_key_here
DEBUG=True

# MongoDB configuration
MONGODB_URI=mongodb://localhost:27017/truthtrack
MONGODB_DB=truthtrack

# API Keys for fact checking services
NEWS_API_KEY=your_news_api_key_here
RAPID_API_KEY=your_rapid_api_key_here

# RapidAPI hosts
RAPIDAPI_KEY=your_rapid_api_key_here
REAL_TIME_NEWS_HOST=real-time-news-data.p.rapidapi.com
MEDIA_BIAS_HOST=media-bias-fact-check-ratings-api2.p.rapidapi.com
FACT_CHECKER_HOST=fact-checker.p.rapidapi.com
GOOGLE_NEWS_HOST=google-news13.p.rapidapi.com