.env
.env/
.venv
.venv/
__pycache__/
*.pyc
myenv/
.myenv/
.myvenv/
truthtell-b2bc3-firebase-adminsdk-fbsvc-4e038b47ab.json
.env
node_modules/
.env.example
client/package-lock.json
client/node_modules/.package-lock.json
